/* Estilo de fonte geral */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Jost:wght@300;600;700&display=swap');

/* ========================================= configurações gerais para todas páginas ========================================================*/
body,
html {
    background-color: #1952BF;
    color: white;
    font-family: 'Jost', sans-serif;
    text-align: center; 
    margin-top: 58px;
}

/* Barra de navegação */
.navbar-brand img {
    margin: 0 0 0 50px;
}

.navbar-nav a {
    font-weight: bold;
    margin-left: 180px;
    font-size: 20px;
}

.navbar-nav a:hover {
    color: #1952BF;
}

/* Rodapé */
footer {
    margin-top: 200px;
    background-color: gray;
    border-top: 5px solid rgb(71, 71, 71);
    font-family: 'Inter', sans-serif;
    width: 100%;
    left: 0;
    position: absolute;
}

#footerlogo {
    margin-top: 15px;

}

#footerlogo a {
    text-decoration: none;
    color: white;
}

#footerredesociais {
    display: flex;
    justify-content: center;
}

#footerredesociais img {
    width: 40px;
    height: 40px;
    margin-left: 25px;
}

#footerredesociais a {
    margin: 30px;
    text-align: center;

}

/* ================================================= Configurações da página Cadastre-se ========================================================== */

h1 {
    padding: 25px;
    font-size: 50px;
}

.text-center{
margin: 0 50px 0 50px;
}

div.transbox {
   
    background-color: #113780;
    border-radius: 15px;
}

/* Spans */
.span-required {
    font-size: 22px;
    display: none;
}

label {
    font-weight: bold;
    font-size: 25px;
}

.btn {
    color: black;
    background-color: #97ADFF;
    border-radius: 5px;
    font-size: 25px;
    font-weight: bold;
    transition: 1s;
    margin: 0 0 25px;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 1540px;
    height: 100px;
    padding: 0 80px 0 80px;
}

.form-group2 {
    align-content: space-between;
    width: 400px;
    height: 100px;
    margin: 0 50px 0 50px;
}

#CPF{
    margin: 7px 1px;
}

input{
    text-align: center;
    
}
/* ================================================= Configurações da página Fale Conosco ========================================================== */

#faleconosco .iconesContato {
    width: 40px;
}

#faleconosco {
    padding: 14px;
    font-size: 30px;
    text-align: center;
}

#faleconosco h2 {
    text-align: center;
    font-size: 30px;
    margin-left: 25px;
    text-transform: uppercase;
}

#faleconosco .links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}