@import url('https://fonts.googleapis.com/css2?family=Jost:wght@700&display=swap');

body,
html {
  background-color: #1952BF;
  color: white;
  font-family: 'Jost', sans-serif;
  text-align: center;
  height: 100%;

}

/* Barra de navegação */
.navbar-brand img {
  margin: 0 0 0 50px;
}

.navbar-nav a {
  font-weight: bold;
  margin-left: 180px;
  font-size: 20px;
}

.navbar-nav a:hover {
  color: #1952BF;
}

/* Rodapé */
footer {
  background-color: gray;
  border-top: 5px solid rgb(71, 71, 71);
  font-family: 'Inter', sans-serif;
  width: 100%;
  left: 0;
  position: absolute;
}

#footerlogo {
  margin-top: 15px;

}

#footerlogo a {
  text-decoration: none;
  color: white;
}

#footerredesociais {
  display: flex;
  justify-content: center;
}

#footerredesociais img {
  width: 40px;
  height: 40px;
  margin-left: 25px;
}

#footerredesociais a {
  margin: 30px;
  text-align: center;

}

/* ================================================= Configurações das páginas Login/Senha ========================================================== */

div.transbox {
  background-color: white;
  margin: 30px;
  width: 752px;
  height: 500px;
  opacity: 1;
  margin-left: 340px;
  box-shadow: 5px 5px #888888;
  border-radius: 25px;

}

.text-center {
  padding: 0 0 0 200px;
}

.h3 {
  padding-top: 60px;
}

.tituloRecuperar {
  padding-top: 25px;
  color: black;
  font-size: 38px;
  text-align: center;
}

.form-control2 {
  color: rgb(0, 0, 0);
  font-size: 25px;
}

body {
  background-color: #1952BF !important;
  font-family: 'Jost', sans-serif !important;
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;

}

header {
  margin-left: 10px;
}

.login2 {
  margin-bottom: 90px;
  width: 300px;
  margin-left: 120px;
}
div .login {
  margin-bottom: 40px;
  margin-right: 40px;
  margin-left: 40px;
}