/* Estilo de fonte geral */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Jost:wght@300;600;700&display=swap');

/* ========================================= configurações gerais para todas páginas ========================================================*/
body,
html {
    background-color: #1952BF;
    color: white;
    font-family: 'Jost', sans-serif;
    text-align: center;
    margin-top: 58px;
    height: 100%;
}

/* Barra de navegação */
.navbar-brand img {
    margin: 0 0 0 50px;
}

.navbar-nav a {
    font-weight: bold;
    margin-left: 180px;
    font-size: 20px;
}

.navbar-nav a:hover {
    color: #1952BF;
}

/* Rodapé */
footer {
    background-color: gray;
    border-top: 5px solid rgb(71, 71, 71);
    font-family: 'Inter', sans-serif;
    width: 100%;
    left: 0;
    position: absolute;
}

#footerlogo {
    margin-top: 15px;

}

#footerlogo a {
    text-decoration: none;
    color: white;
}

#footerredesociais {
    display: flex;
    justify-content: center;
}

#footerredesociais img {
    width: 40px;
    height: 40px;
    margin-left: 25px;
}

#footerredesociais a {
    margin: 30px;
    text-align: center;

}

/* ================================================= Configurações da página index ========================================================== */
/* Banner */
#banner1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/banner1.jpg");
    height: 65%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#textobanner1 h2 {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 47px;
    text-transform: uppercase;
    text-align: center;
    color: red;
}

#textobanner1 p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 40px;
    text-align: justify;
    color: white;
    padding: 0 50px 0 50px;
}

/* Texto de descrição*/
#textodescricao {
    color: black;
    background-color: #113780;
    border-radius: 40px;
    font-size: 50px;
    margin: 0 10px 0 10px;
}

#textodescricao p {
    text-align: justify;
    color: white;
    padding: 25px 30px 15px 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

#textodescricao button {
    border: none;
    border-radius: 5px;
    background-color: #97ADFF;
    color: black;
    width: 200px;
    height: 100px;
    font-size: 30px;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
    float: right;
    margin-right: 45px;
    position: relative;
}

#textodescricao button:hover {
    background-color: rgb(0, 187, 250);
    color: white;
}

/* Texto da parte da missão */
#areamissao {
    background-color: #113780;
    border-radius: 40px;
    margin: 0 10px 0 10px;
}

#areamissao img {
    border-radius: 40px;
    float: right;
    width: 560px;
    height: 408px;
    padding-left: 20px;
}

#areamissao p {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 34px;
    text-align: justify;
    position: relative;
    padding: 15px 30px 15px 30px;
}

/* ================================================= Configurações da página nossos planos ========================================================== */

/* Configurações da pagina */
#bonus h1 {
    color: red;
    padding: 35px 0 25px 0;
    font-weight: bold;
    font-size: 45px;
}

#caixafundoplanos {
    background-color: #113780;
    border-radius: 20px;
    margin: 0 80px 10px 80px;
}

.descricaoplanos {
    /* list-style: none; */
    text-align: left;
    font-weight: 600;
}

.TodosPlanos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.TodosPlanos .plan {
    width: 330px;
    height: 580px;
    text-align: center;
    padding: 30px 20px;
    margin-right: 10px;
    margin-bottom: 26px;
    border-radius: 5px;
    margin: 20px;
}

.TodosPlanos .plan .plano-preco {
    font-size: 3rem;
    color: black;
}

.TodosPlanos .plan .real {
    font-size: 2rem;
    font-weight: 400;
    vertical-align: middle;
    color: black;
}


.TodosPlanos .plan .btn {
    display: block;
    background-color: #66d6fa;
    padding: 10px;
    margin-top: 30px;
    color: black;
    border-radius: 5px;
}

.TodosPlanos .basic .btn {
    margin-top: 100px;
}

.basic .plan .btn {
    box-shadow: 0 0.6rem 1.6rem #66d6fa;
}


.TodosPlanos .plan .btn-blue {
    background-color: #f6f6fe;
    color: black;
}

.TodosPlanos .plan .btn-blue:hover {
    background-color: #FFA000;
    color: white;
    border: 1px solid white;
}

.TodosPlanos .basic .btn:hover {
    background-color: #26c268;
}

.TodosPlanos .long .btn:hover {
    background-color: #ED193F;
}



/* =========================== BASIC */
.basic {
    color: #26c268;
    background-color: white;
    transition: 0.5s;
}

.basic:hover {
    transform: scale(1.1);
    box-shadow: 0 0.6rem 1.6rem #26c268;
}

/* =========================== PLUS */
.plus {
    color: #FFA000;
    background-color: white;
    transition: 0.5s;
}

.plus:hover {
    transform: scale(1.1);
    box-shadow: 0 0.6rem 1.6rem #FFA000;
}

/* ========================== LIFETIME */
.long {
    color: #ED193F;
    background-color: white;
    transition: 0.5s;
}

.long:hover {
    transform: scale(1.1);
    box-shadow: 0 0.6rem 1.6rem #ED193F;
}

